#cloud-config
repo_update: true

packages:
 - ansible

runcmd:
 - [ sh, -c, "git clone https://github.com/kyleparisi/freshserver.git /usr/local/src/freshserver" ]
 - [ sh, -c, "ansible-playbook /usr/local/src/freshserver/playbook.yml --extra-vars 'github_user=${GITHUB_USER}'" ]

 - [ sh, -c, "git clone https://github.com/kyleparisi/github-runner.git /usr/local/src/github-runner" ]
 - [ sh, -c, "GITHUB_TOKEN=${GITHUB_TOKEN} GITHUB_NAMESPACE="${GITHUB_NAMESPACE}" /usr/local/src/github-runner/bin/deploy" ]

output : { all : '| tee -a /var/log/cloud-init-output-github-runner.log' }
