{
	"BlockDeviceMappings": [{
		"DeviceName": "/dev/sda1",
		"Ebs": {
			"Encrypted": true,
			"DeleteOnTermination": true,
			"VolumeSize": 30
		}
	}],
	"ImageId": "ami-05983a09f7dc1c18f",
	"InstanceType": "t4g.medium",
	"UserData": "${USER_DATA}",
	"InstanceMarketOptions": {
		"MarketType": "spot"
	}
}